@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

  
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffbe4f;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #956f2d;
}

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .tag-bubble {
    @apply rounded-full px-6 py-3 bg-gray-700 
    flex items-center opacity-70
    hover:outline hover:scale-105 hover:opacity-100
    cursor-pointer font-semibold transition
  }

  .hover-underline {
    @apply hover:underline underline-offset-4 hover:text-amber-400 cursor-pointer
  }

  .grey-button {
    @apply bg-gray-700 px-4 py-2 rounded-md 
    hover:outline hover:scale-[102%]
    opacity-80 hover:opacity-100
    active:scale-95
    outline-offset-2 outline-amber-400 transition
  }
}
